.contact {
  max-width: 900px;
  margin: 100px auto;
}
.contact__title {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.contact__title > h2 > span {
  font: 400 clamp(16px, 3vw, 20px) "MuseoModerno", cursive;
  color: #64ffda;
  margin-right: 10px;
}
.contact__title > h2 {
  font: 600 clamp(26px, 5vw, 32px) "MuseoModerno", cursive;
  color: #ccd6f6;
  line-height: 1.1;
  white-space: nowrap;
}
.contact__title > div {
  height: 1px;
  width: 300px;
  background-color: #8892b0;
  border: none;
}
.contact__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.contact__details h3 {
  font: 500 22px "MuseoModerno", cursive;
  color: #ccd6f6;
  line-height: 1.3;
  margin: 0;
}
.contact__details p {
  font: 20px "MuseoModerno", cursive;
  color: #8892b0;
  line-height: 1.3;
  margin-bottom: 40px;
}
.contact__details a {
  font: 16px "MuseoModerno", cursive;
  background-color: initial;
  border: 1px solid #64ffda;
  border-radius: 5px;
  color: #64ffda;
  margin: 0 5px;
  padding: 0.8rem 1.5rem;
  transition: 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}
.contact__details a:hover {
  background-color: rgb(100, 255, 218, 0.1);
}
