header {
  position: sticky;
  top: 0;
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: rgba(10, 25, 47, 0.85);
  box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
}
.logo a {
  font: 500 50px "MuseoModerno", cursive;
  color: #ccd6f6;
  text-decoration: none;
  transition: 0.3s ease;
}
.logo a:hover {
  color: #64ffda;
}
.header__container ul {
  display: flex;
  align-items: center;
  column-gap: 20px;
  list-style: none;
}
.header__container ul li,
.header__container ul li a {
  font: 16px "MuseoModerno", cursive;
  color: #ccd6f6;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease;
}
.header__container ul li a {
  color: #64ffda;
}
.header__container ul li:last-child {
  border: 1px solid rgb(100, 255, 218);
  border-radius: 5px;
  color: #64ffda;
  padding: 12px 15px;
  transition: 0.3s ease;
}
.header__container ul li:last-child:hover {
  background-color: rgb(100, 255, 218, 0.1);
}
.header__container ul li:hover {
  color: #64ffda;
}
.header__container ul li span {
  font: 12px "MuseoModerno", cursive;
  color: #64ffda;
  margin-right: 5px;
}
